@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
  }


body{
    background-color: #f4f0e9;
    font-family: DM Sans;
}

.CardHolder{
  margin: 5%;
}

.MainCard{
  max-width: 45%;
  padding: 2%;
}

.Footer{
  padding: 2%;
}






